################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Common/obj
/Common/bin
/Crawler/obj
/Crawler/bin
/UnitTest/obj
/UnitTest/bin
/WebAPI/obj
/WebAPI/bin
/WebAPI/hbasesettings.json
/WebAPI/Properties/PublishProfiles
/WebAPI/WebAPI.csproj.user
